body {
	width: 1345px;
	margin:auto;
}

#windows {
	width: 99.5%;
	display: fixed;
	margin: auto;
	position: relative;
	font-family: "Roboto", sans-serif;
	padding: 0px;
	border-radius: 5px;

	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/*.hide {
	display: none;
}*/

#home-screen {
	padding: 0px;
	display: block;
	font-family: "Roboto", sans-serif;
	width: 100%;
	height: 100%;
	margin:  auto;
	font-family: lato;
}

#home-title {
	font-size: 125px;
	font-family: 'lato', serif;
	text-align: center;
	color: rgb(240, 202, 0);
	letter-spacing: 5px;
	text-shadow: 3px 3px 3px #c2a500;
}

#version {
	opacity: .75;
	float: right;
	font-size: 1em;
	color: #37474F;
}

#play-button {
	text-align: center;
	padding-top: 10%;
	padding-bottom: 10%;
	z-index: -1;
	font-size: 2.2em;
	color: #37474F;
	text-shadow: 2px 2px 2px #607D8B;
	animation: blinker 1.9s linear infinite;
	animation-delay: 3s;
}

@keyframes blinker {
	50% {
		opacity: 0;
	}
}

/*#game-selection-screen,
#game-setup-screen,
#setup-screen,
#turn-info-box {
	display: none;
}*/